footer
  .container.text-center

    ul.pull-left.list-inline

      if !user
        unless title == 'Login'
          li
            a(href='/login') Login
            | ◾︎
        unless title == 'Create Account'
          li
            a(href='/signup') Create Account
            | ◾︎
      else
      //- else if user.kind === "service"
      //-   li
      //-     a(href='/login') Login
      //-     | ◾︎
      //- li
      //-   a(href='/login') Login
      //-   | ◾
      //- li
      //-   a(href='/login') Login
      //-   | ◾
      //- li
      //-   a(href='/login') Login
      //-   | ◾

    p.pull-right
      i with
      | &nbsp;
      span.fa.fa-heart
      i by TeamSPOTSoftware
