footer
  .container.text-center

    ul.pull-left.list-inline
      each info, url in printyFineHelpers.links.filtered(user)
        li.footer-link-wrp
          a(href=url)
            if info.hasOwnProperty('icon')
              span.fa(class='fa-' + info.icon)
            = info.title

    p.pull-right
      i with
      | &nbsp;
      span.fa.fa-heart
      i by TeamSPOTSoftware
