footer
  .container.text-center

    p.footer-authors.pull-left
      i with
      | &nbsp;
      span.fa.fa-heart
      i by TeamSPOTSoftware

    ul.footer-links.pull-right.list-inline
      each info in printyFineHelpers.links.filtered(user)
        if info === 'separator'
          li.footer-separator-wrp
            span.footer-separator
        else
          li.footer-link-wrp
            a(href=info.url)
              if info.hasOwnProperty('icon')
                span.fa(class='fa-' + info.icon)
              = info.title
