extends layout-full

block content

  .cover(id='fullpage')
    .section(id='section0')
      .intro
        h1 We are Spot Software's team.
    .section(id='section1')
      .intro
        h1 We rocks.
    .section(id='section2')
      .intro
        h1 You cannot beat us.
    .section(id='section3')
      .intro
        h1 Please, go home.
