doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - PrintyFine
    != css('main')
    != css('fake-service')

  body(data-path=reqPath)
    
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h1.text-center.login-title=service.name
                    div.account-wall
                        img.profile-img(src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120")
                        form.form-signin()
                            input.form-control(type="text" placeholder="Email" autofocus)
                            input.form-control(type="passowrd" placeholder="Password")
                            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
                            span.clearfix
                    br
                
                
    include ../fineprints/embed

    != js('application')


