extends ../layout

block content

  .container
    .page-header
      h3= service.name
      p= service.description
      a.btn.btn-link(href=service.ulr)=service.name
      

    h4 Fine Prints
    a.btn.btn-link(href='/services/' + service.id + '/finePrint') Add Fine Print
    
    
    .table-responsive
        table.table.table-striped
          thead
            tr
              th Name
              th Action
          tbody
          each finePrint in service.finePrints
            tr
              td= finePrint.name
              td
                a.btn.btn-link(href='/services/' + service.id + '/finePrints/' + finePrint._id + '/edit') Edit
                a.btn.btn-link(href='/services/' + service.id + '/finePrints/' + finePrint._id + '') Preview

