extends ../layout

block content

  .container
    .page-header
      h3= service.name
      p= service.description
      

    h4.col-sm-10 Fine Prints
    a.col-sm-2.btn.btn-default(href='/services/' + service.id + '/finePrint') Add Fine Print
    
    
    .table-responsive.col-sm-12
        table.table.table-striped
          thead
            tr
              th(width='80%') Name
              th.text-center Action
          tbody
          each finePrint in service.finePrints
            tr
              td= finePrint.name
              td.text-right
                a.btn.btn-primary(href='/services/' + service.id + '/finePrints/' + finePrint._id + '/edit') Edit
                a.btn.btn-default(href='/services/' + service.id + '/finePrints/' + finePrint._id + '/preview' target='_blank') Preview

